*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Lato', sans-serif;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --clr-light: #f8efd4;
  --clr-red: #d7385e;
  --clr-dark: #0b131f;
  --clr-darken: #132743;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(230, 222, 222, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

/* general style */
body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

:focus {
  outline: 3px solid var(--clr-red);
  outline-offset: 3px;
}

/* button  */
.btn {
  display: inline-block;
  padding: 0.5em 2.2em;
  background: var(--clr-red);
  color: var(--clr-light);
  text-transform: uppercase;
  word-spacing: 0.35em;
  letter-spacing: 2px;
  font-size: 0.8rem;
  translate: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* typhography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

/* ======================================= */
.cards,
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.container {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  /* //when u will use flex-wrap use flex-grow:1 and width: ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 5em 0;
}

.border {
  border: 5px solid orangered;
}

.subtitle {
  color: var(--clr-red);
  margin-top: 0;
}

.card {
  padding: 2em;
  background: var(--clr-darken);
}

.image {
  height: 400px;
  width: 100%;
}

.title::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1px;
  background-color: var(--clr-red);
}

/* hero start from here  */
.background {
  background-image: url(/image/pro2.png);
  background-color: #837878;
  color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.hero {
  padding: 5em 0;
  position: relative;
}

.hero__left-side {
  width: 50%;
  max-width: 500px;
}

.hero__header {
  margin-bottom: 1em;
}

/* hero end here  */
/* card start from here  */
.cards__position {
  position: absolute;
  top: 450px;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards .card {
  padding: 2em;
  background: var(--clr-darken);
}

.cards .card--modifier {
  background-color: var(--clr-red);
}

.cards .card__three {
  position: relative;
}

.cards .card--after::after {
  content: '';
  position: absolute;
  top: 90%;
  bottom: -10px;
  left: 0;
  right: -10px;
  background-color: var(--clr-red);
  z-index: -2;
}

.cards .fas {
  margin-bottom: 2em;
  color: var(--clr-red);
}

.cards .fas--modifier {
  color: var(--clr-light);
}

/* card end here  */
/* testomonial section start from here   */
.testomonial__left-side {
  width: 45%;
  position: relative;
}

.testomonial__right-side {
  width: 50%;
}

.testomonial--image {
  height: 600px;
  width: 100%;
}

.testomonial__left-side::after {
  content: '';
  position: absolute;
  top: 90%;
  bottom: -10px;
  left: 80%;
  right: -10px;
  background-color: var(--clr-red);
  z-index: -2;
}

/* testomonial section end from here   */
.latestnews .title {
  position: relative;
}

.latestnews .title::before {
  content: '';
  position: absolute;
  width: 1em;
  height: 1px;
  background-color: var(--clr-red);
}

.latestnews .latestnews__title {
  text-align: center;
  margin-bottom: 3em;
}

/* contact section  */
.contact {
  padding: 1em 0;
  background-color: var(--clr-darken);
  text-align: center;
}

.contact__number {
  margin: 0;
}

.container--contact {
  width: 50%;
}

/* footer start from here */
footer {
  color: var(--clr-darken);
}

li + li {
  margin-left: 1em;
}
